@page
@model IntroAulaWebApp.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vacina[0].Lote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vacina[0].Qtde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vacina[0].dataFabr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vacina[0].dataVenc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vacina[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vacina[0].Fornecedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Vacina) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qtde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataFabr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataVenc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fornecedor)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
