@page
@model IntroAulaWebApp.Pages.Enfermeiros.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Enfermeiro</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enfermeiro.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enfermeiro.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enfermeiro.Rg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enfermeiro.Rg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enfermeiro.CPF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enfermeiro.CPF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enfermeiro.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enfermeiro.Endereco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enfermeiro.Coren)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enfermeiro.Coren)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enfermeiro.DataAdmi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enfermeiro.DataAdmi)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Enfermeiro?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
