@page
@model IntroAulaWebApp.Pages.Enfermeiros.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Enfermeiro[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enfermeiro[0].Rg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enfermeiro[0].CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enfermeiro[0].Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enfermeiro[0].Coren)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enfermeiro[0].DataAdmi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Enfermeiro) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coren)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAdmi)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
